.list-perf-wrapper {
  padding: 40px 0;
  min-height: calc(100vh - 70px);
}

#my-perf-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list-perf-container {
  padding: 10px;

}
