<div class="card" style="background-image: linear-gradient(135deg, rgba(142,14,0,0.6) 0%, rgba(81,45,168,0.2) 50%), url('<%= image_path('smiling-mr-bean-grey.jpg') %>');" >
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>
