<div class="wrapper">
  <div class="container">
    <% if current_user.facebook_picture_url? %>
      <%= cl_image_path current_user.facebook_picture_url.path %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p><%= current_user.email %></p>
      <p><%= current_user.first_name %></p>
      <p><%= current_user.last_name %></p>
    </div>
  </div>
</div>
