<div class="wrapper">
  <div class="container">
    <div class="row">
      <img src="user.jpg" alt="user" class="avatar-large">
      <div class="col-md-4 col-md-offset-4">
      <h2><%= first_name = @user.name %></h2>
      <h2><%= last_name = @user.name %></h2>
      <h2><%= email = @user.email %></h2>
      <h2><%= address = @user.address %></h2>

        </div>
    </div>
  </div>
</div>
