.wrapper {
  background-color: $lighter-gray;
}

.container {
  background-color: white;
  box-shadow: 0px 2px 5px 0px $light-gray;
  max-width: 960px;
  padding: 40px 20px;
}

.all-performances-container {
  padding: 60px 17px;
  margin: 0 auto;
  h1 {
    color: $gray;
    margin: 0;
    padding-bottom: 60px;
  }
}

.all-performances-container h1 span:hover {
  color: $gradient-yellow-2;
  font-weight: bolder;
}

