.all-performances-container {
  max-width: 960px;
  padding: 60px 17px;
  margin: 0 auto;
  border: 1px solid red;
  h1 {
    color: $gray;
    margin: 0;
    padding-bottom: 60px;
  }
}

.all-performances-container h1 span:hover {
  color: $gradient-yellow-2;
  font-weight: bolder;
}

