#perf-show-wrapper {
  padding-bottom: 40px;
}

#perf-show-container {
  h1 {
    color: $gray;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    span {
      color: $gradient-yellow-2;
      font-weight: bold;
    }
  }
  #performance-photo {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 40px 0;
  }
  #perf-location {
    margin-bottom: 40px;
  }
  #perf-show-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

